@value vars: "../../globals/vars.css";
@value switch-to-tablet-breakpoint,switch-to-desktop-breakpoint from vars;


.pageContainer {
    width: 375px;
    background-color: #232527;
}

@media switch-to-tablet-breakpoint {
    .pageContainer {
        width: 700px;
    }
}

@media switch-to-desktop-breakpoint {
    .pageContainer {
        width: 1200px;
    }
}

.container {
    composes: pageContainer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container a {
    text-decoration: underline !important;
    font-size: 20px;
}

.messageContainer {
    composes: pageContainer;
    margin-top: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.message {
    font-size: 15px;
}

.resumeIframe {
    width: 100%;
    height: 100vh;
    border: none;
}

@media switch-to-tablet-breakpoint {
    .resumeIframe {
        width: 700px;
    }
}

@media switch-to-desktop-breakpoint {
    .resumeIframe {
        width: 1200px;
    }
}
