@value vars: "vars.css";
@value neon-green,color-background,neon-cyan,neon-green-bg from vars;

.title {
  margin: 5rem 0 5rem 0;
  padding: 0.5em 2em;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
  color: neon-green;
  background: color-background;
  position: relative;
  transition: background-color 100ms linear;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --color: neon-green;
  border: 2px solid var(--color);
  box-shadow: 0 0 20px var(--color), inset 0 0 10px var(--color);
  text-shadow: 0 0 8px var(--color);
  box-sizing: border-box;
  border-radius: 10px;
}

.titleSecond {
  margin: 2rem 0 2rem 0;
  padding: 0.25em 1em;
  line-height: 1.15;
  font-size: 1.25rem;
  text-align: center;
  color: neon-cyan;
  border: neon-cyan 1px solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 neon-cyan, 0 0 1em 0 neon-cyan;
  position: relative;
  border-radius: 0.25em;
  transition: background-color 100ms linear;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: neon-green;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
  filter: blur(1em);
  opacity: 0.7;
}

.title::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2em 0.5em neon-green;
  opacity: 0;
  transition: opacity 100ms linear;
}

.titleLong {
  margin: 5rem 0 5rem 0;
  padding: 0.25em 1em;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
  color: neon-green;
  border: neon-green 3px solid;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 neon-green, 0 0 1em 0 neon-green;
  position: relative;
  border-radius: 0.25em;
  transition: background-color 100ms linear;
}

.title:hover,
.title:focus,
.titleLong:hover,
.titleLong:focus {
  background: neon-green;
  color: color-background;
  text-shadow: none;
}

.title:hover::before,
.title:focus::before {
  opacity: 1;
}
