@value color-black: #070b17;
@value color-background: #232527;
@value color-black-accent: #070b17;
@value color-purple: #be4bdb;
@value color-white: #fff6e6;
@value color-yellow: #fab005;
@value neon-green: lch(85% 82.34 80.104);
@value neon-green-bg: lch(85% 82.34 80.104 / .15)

@value neon-cyan: #00ffff;

@value switch-to-tablet-breakpoint: (min-width: 700px);
@value switch-to-desktop-breakpoint: (min-width: 1200px);