.postsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/*see comment on src/pages/AppPage.module.css for Explanation */
.postsList:has(article:hover) article:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}

.postsList > * {
  transition: scale 350ms ease, opacity 350ms linear;
}
/*----------------------*/
