@value vars: "../../globals/vars.css";
@value neon-green, switch-to-tablet-breakpoint from vars;

.card {
  padding: 2rem 2rem;
  width: 280px;
  max-width: 450px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.card h1 {
  font-weight: 800;
  margin: 0 0 2rem 0;
  cursor: pointer;
}

@media switch-to-tablet-breakpoint {
  .card {
    width: 600px;
    max-width: 800px;
  }
}

.tags {
  margin: 2rem 0;
}

.tag {
  padding: 8px;
  border-radius: 15px;
  font-weight: 200;
  transition: color 0.15s ease, border-color 0.15s ease;
  --color: lch(60% 113 349);
  --color-bg: lch(60% 113 349 / .15);
  box-shadow: 1px 1px 20px var(--color);
  background: var(--color-bg);
}

.tag:nth-child(2) {
  padding: 8px;
  border-radius: 15px;
  font-weight: 200;
  transition: color 0.15s ease, border-color 0.15s ease;
  --color: lch(59% 84 296);
  --color-bg: lch(59% 84 296 / .15);
  box-shadow: 1px 1px 20px var(--color);
  background: var(--color-bg);
}

.tag:hover,
.tag:focus,
.tag:active {
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border: none;
}
