@value vars: "../../globals/vars.css";
@value neon-green,switch-to-tablet-breakpoint from vars;

.aboutContent {
  padding: 0 3% 0 3%;
}

@media switch-to-tablet-breakpoint {
  .aboutContent {
    padding: 0 10% 0 10%;
    max-width: 1400px;
  }
}

.about {
  composes: aboutContent;
  max-width: 1400px;
  word-wrap: break-word;
}

.about a {
  border-radius: 5px;
  border-bottom: 1px solid #FF7B3D;
}

.about a:nth-child(2)  {
  border-radius: 5px;
  border-bottom: 1px solid #FF1B8D;
}

.about h2,
.about h3 {
  color: neon-green;
}

.about code {
  width: 70vw;
  max-width: 1000px;
}
