@value vars: "../../../globals/vars.css";
@value neon-green, switch-to-tablet-breakpoint from vars;

.articleWrapper {
  width: 100%;
}

.articleContent {
  padding: 0 3% 0 3%;
}

@media switch-to-tablet-breakpoint {
  .articleContent {
    padding: 0 10% 0 10%;
    max-width: 1400px;
  }
}

.articleHeader {
  composes: articleContent;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.articleHeader h1 {
  max-width: 300px;
}

.article {
  composes: articleContent;
  max-width: 1400px;
  word-wrap: break-word;
}

.article a {
  border-radius: 5px;
  border-bottom: 1px solid #FF7B3D;
}

.article a:nth-child(2) {
  border-radius: 5px;
  border-bottom: 1px solid #FF1B8D;
}

.article h1,
.article h2,
.article h3 {
  border-bottom: 1px solid #FF1B8D;
  color: #00E5FF;
}

.article code {
  width: 70vw;
  max-width: 1000px;
}
