@value vars: "../globals/vars.css";
@value color-white, color-black-accent, switch-to-tablet-breakpoint, neon-green from vars;

/*--------------- Container*/

.grid {
  margin-top: 5rem;
  display: grid;
  max-height: 50vh;
  max-width: 800px;
  width: 70%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  padding: 0 25px;
  grid-gap: 4px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
/* The best way to understand this is incrementally:  */
/*   .grid:has(.gridItem:hover)-->  Hovering on any grid Item inside Grid ...         */
/* .grid:has(.gridItem:hover) .gridItem--> ... apply Styles to GridItem               */
/* .grid:has(.gridItem:hover) .gridItem:not(:hover)--> ... that is not being hovered  */
.grid:has(.gridItem:hover) .gridItem:not(:hover) {
  scale: 0.9;
  opacity: 0.7;
}
/* All direct Children get this*/
.grid > * {
  transition: scale 350ms ease, opacity 350ms linear;
}
/*----------------------*/

@media switch-to-tablet-breakpoint {
  .grid {
    width: 90%;
    flex-direction: column;
    grid-gap: 8px;
  }
}

/*---------------Abstract Grid Item*/

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

.gridItem:focus,
.gridItem:active {
  border-color: color-black-accent;
}

.gridItem h2 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
}
.gridItem span {
  visibility: hidden;
  position: absolute;
}

@media switch-to-tablet-breakpoint {
  .gridItem h2 {
    font-size: 1.5rem;
    margin-right: 25px;
  }
  .gridItem span {
    visibility: visible;
    margin-left: 5px;
  }
}

/*---------------Children Grid Items*/

.smallGridItem {
  composes: gridItem;
  grid-row: span 1;
  grid-column: span 1;
  box-shadow: 1px 1px 20px #FF1B8D;
}

.mediumGridItem {
  composes: gridItem;
  grid-row: span 2;
  grid-column: span 2;
  box-shadow: 1px 1px 20px #6272FF;
}

.mediumGridItem2 {
  composes: gridItem;
  grid-row: span 2;
  grid-column: span 2;
  box-shadow: 1px 1px 20px #00E5FF;
}

.largeGridItem {
  composes: gridItem;
  grid-row: span 3;
  grid-column: span 3;
  word-break: break-word;
  text-align: center;
  box-shadow: 1px 1px 20px #B76CFD;
}

.tallGridItem {
  composes: gridItem;
  grid-row: 4 / span 3;
  grid-column: 4 / span 2;
  box-shadow: 1px 1px 20px #0FEFFF;
}

.wideGridItem {
  composes: gridItem;
  grid-row: span 2;
  grid-column: span 3;
  text-align: center;
  box-shadow: 1px 1px 20px  #FF7B3D;
}
