@value vars: "../globals/vars.css";
@value color-background, color-white, switch-to-tablet-breakpoint, neon-green from vars;

.container {
  background-color: color-background;
  color: color-white;
}

.navBar {
  border-bottom: 1px dashed color-white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navBar a:nth-child(1) {
  padding: 5px 10px;
  border-radius: 10px;
  --color: lch(60% 113 349);
  --color-bg: lch(60% 113 349 / .15);
  box-shadow: 1px 1px 20px var(--color);
  background: var(--color-bg);

}

.navBar a:nth-child(2) {
  padding: 5px 10px;
  border-radius: 10px;
  --color: lch(59% 84 296);
  --color-bg: lch(59% 84 296 / .15);
  box-shadow: 1px 1px 20px var(--color);
  background: var(--color-bg);

}

.navBar a:nth-child(3) {
  padding: 5px 10px;
  border-radius: 10px;
  --color: lch(87% 49 199);
  --color-bg: lch(87% 49 199 / .15);
  box-shadow: 1px 1px 20px var(--color);
  background: var(--color-bg);

}

.navBar a:nth-child(4) {
  padding: 5px 10px;
  border-radius: 10px;
  --color: lch(61% 89 306);
  --color-bg: lch(61% 89 306 / .15);
  box-shadow: 1px 1px 20px var(--color);
  background: var(--color-bg);

}






@media switch-to-tablet-breakpoint {
  .navBar {
    justify-content: center;
    gap: 48px;
  }
}

.main {
  min-height: 100vh;
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  margin-top: 48px;
  padding: 12px;
  border-top: 1px solid color-white;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
